<div class="side1">
  <ul id="side-menu">
    <li>
      <%= link_to current_user.name, edit_user_path(current_user) %>
      <ul>
        <li>
          <a href="#">コミック要望表(未実装)</a>
        </li>
        <li>
          <a href="#">次月コミック登録未(未実装)</a>
        </li>
        <li>
          <a href="#">予備</a>
        </li>
        <li>
          <a href="#">月次業務登録(未実装)</a>
        </li>
      </ul>
    </li>
  </ul>
</div>