<div class="main1">
  <div class="main1-1">
    <div class="tenpo-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  </div>
    <div class="main1-2">
      <div class="main1-2-1">
        <div class="tenpo-button">
          <a href="#">ログイン</a>
        </div>
      </div>
      <div class="main1-2-1">
        <div class="tenpo-button">
          <a href="#">新規登録</a>
        </div>
      </div>
    </div>
</div>

<div class="main2">

  <div class="sagyou-ue">
    <div class="koumoku">
      客注・定期
    </div>
    <div class="jikan">
      2020/10/20(Tue) 17:13:48
    </div>
  </div>
  <div class="sagyou-sita">
    <div class="naiyou">
      ○○様の新規登録を行いました。
    </div>
  </div>

  <div class="sagyou-ue">
    <div class="koumoku">
      客注・定期
    </div>
    <div class="jikan">
      2020/10/20(Tue) 17:48:28
    </div>
  </div>
  <div class="sagyou-sita">
    <div class="naiyou">
      ○○様の編集を行いました。
    </div>
  </div>

</div>

<div class="main3">
  <div class="form-input">
    <input class="form-string" placeholder= "入荷物の検索を行います">
  </div>
  <input class="form-submit" type="submit" value="検索">
</div>