<div class="side1">
  <div class="side1-1">
    <a href="#">雑誌総品案内</a>
  </div>

  <div class="side1-2">
    <a href="#">登録</a>
  </div>
</div>

<div class="side2">
  <div class="side2-1">
    <a href="#">客注・定期</a>
  </div>

    <div class="side2-1">
    <a href="#">入荷物チェック</a>
  </div>

  <div class="side2-1">
    <a href="#">発注</a>
  </div>

  <div class="side2-1">
    <a href="#">POP</a>
  </div>

</div>