<div class="side1">
  <div class="side1-1">
        <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
</div>

<div class="side2">
  <div class="side2-1">
    <a href="#">お客様管理</a>
      <li>
        <a halef="#">お客様登録</a>
      </li>
      <li>
        <a halef="#">お客様編集</a>
      </li>

    
  </div>

    <div class="side2-1">
    <a href="#">入荷物チェック</a>
  </div>

  <div class="side2-1">
    <a href="#">発注</a>
  </div>

  <div class="side2-1">
    <a href="#">POP</a>
  </div>

</div>