.side-bar {
  width: 300px;
  height: 100vh;
}
.side1 {
  background-color: #253141;
  height: 100px;
  align-items: center;
}
.side1-1 a{
  font-size      : 20px;
  font-weight    : bold;
  color          : #fff;
  text-decoration: none;
}
.main {
  width: calc(100% - 300px);
}
.main1 {
  background: #253141;
  height: 100px;
}
.main1 a{
  color: #fff;
}
.main-search {
  height: 50px;
  padding: 10px 40px;
}
.form-input form{
  display: inline-flex;
  width: 100%;
}
.form-string {
  background-color: white;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
input[type="search"]:focus{
  border: 2px solid #38AEF0;
  box-shadow: 0 0 8px 0 #38AEF0;
  outline: none;
}
.form-submit {
  display: block;
  background-color: #38AEF0;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-submit:hover{
  background-color: #5fbdf3;
  color: #e0dc62;
}
#menu {
  list-style-type: none;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background: #253141;
}
#menu li {
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a {
  display: block;
  margin: 0;
  padding: 17px 0;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#menu li ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li:last-child ul {
  left: -100%;
  width: 100%;
}
#menu li ul li {
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a {
  padding: 13px 15px;
  background:  #2F3E51;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
#menu li:hover > a {
  background:  #2F3E51;
  color: #e0dc62;
}
#menu li:hover ul li {
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child {
  border-top: 0;
}
#menu li:hover ul li:last-child {
  border-bottom: 0;
}

.main2 {
  height: calc(100vh - 100px);
  padding: 46px 40px 0;
  overflow: auto;
}

.sagyou-ue {
  display: flex;
}
.koumoku {
  color          : #000000;
  font-size      : 36pt;
  font-weight    : bold;
  letter-spacing : 2px;
  text-shadow    : 
       1px  1px 4px #ffffff,
      -1px  1px 4px #ffffff,
       1px -1px 4px #ffffff,
      -1px -1px 4px #ffffff,
       1px  0px 4px #ffffff,
       0px  1px 4px #ffffff,
      -1px  0px 4px #ffffff,
       0px -1px 4px #ffffff;        /* 文字の影 */
  font-size: 16px;
}
.jikan {
  color          : #000000;
  font-size      : 36pt;
  font-weight    : bold;
  letter-spacing : 2px;
  text-shadow    : 
       1px  1px 4px #ffffff,
      -1px  1px 4px #ffffff,
       1px -1px 4px #ffffff,
      -1px -1px 4px #ffffff,
       1px  0px 4px #ffffff,
       0px  1px 4px #ffffff,
      -1px  0px 4px #ffffff,
       0px -1px 4px #ffffff;        /* 文字の影 */
  font-size: 12px;
  padding-left: 10px;
}
.sagyou-sita {
  margin-top: 10px;
}
.naiyou {
  color          : #000000;
  font-size      : 36pt;
  font-weight    : bold;
  letter-spacing : 2px;
  text-shadow    : 
       1px  1px 4px #ffffff,
      -1px  1px 4px #ffffff,
       1px -1px 4px #ffffff,
      -1px -1px 4px #ffffff,
       1px  0px 4px #ffffff,
       0px  1px 4px #ffffff,
      -1px  0px 4px #ffffff,
       0px -1px 4px #ffffff;        /* 文字の影 */
  font-size: 14px;
  margin-bottom: 40px;
}
#side-menu {
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #253141;
}
#side-menu li {
  position: relative;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#side-menu li a {
  display: block;
  margin: 0;
  padding: 37px 0;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#side-menu li ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#side-menu ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#side-menu li ul li a {
  padding: 13px 15px;
  background:  #2F3E51;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
#side-menu li:hover > a {
  background:  #2F3E51;
  color: #e0dc62;
}
#side-menu li:hover ul li {
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
#side-menu li:hover ul li:first-child {
  border-top: 0;
}
#side-menu li:hover ul li:last-child {
  border-bottom: 0;
}
