.stock-page {
  width: 1080px;
  margin: 60px auto;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.stock-page .stock-page__inner {
  display: flex;
  justify-content: space-between;
}
.stock-page .stock-page__inner--left{
  width: 40%;
}
.stock-page .stock-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
}
.stock-page .stock-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.stock-page .stock-page__header h5 {
  margin-bottom: 30px;
  font-size: 14px;
}
.stock-page .stock-page__inner--right .btn {
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}
.stock-page .btn:hover {
  background-color: gray;
}
.stock-page .stock-page__inner--right .header{
  margin-bottom: 20px;
}
.stock-page table{
  width: 100%;
  margin: 10px 0;
  padding: 3px 10px;
  border-top: 1px solid #ddd;
}
.stock-page thead{
  width: 1080;
  border-bottom: 1px solid gray;
}
.stock-page thead tr th{
  padding: 3px 0 3px 5px;
}
.stock-page tbody tr td{
  padding-left: 5px;
  border-bottom: 1px solid #ddd;
}

#pagetop{
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
  height: 50px;
  width: auto;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}