// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  display: flex;
  width: 100%;
	position: relative;
  background-image: image-url("books-1281581_1920.jpg");
  background-size: auto auto;
	animation: bg-slider 60s linear infinite alternate ;
}
@keyframes bg-slider {
	from { background-position: 0 100px; }
    to { background-position: -240px 100px; } 
}
